* {
  font-family: "Lato", sans-serif;
}

.accordion-button {
  background: rgba(255, 255, 255, 0.09);
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background: rgba(255, 255, 255, 0.09);
}

body,
.accordion-item {
  background: #0e141b;
  color: white;
}

.dark-theme-bg {
  background-color: rgba(255, 255, 255, 0.09);
}

.off-white-color {
  color: rgba(255, 255, 255, 0.7);
}

.pushable {
  background: hsl(328deg, 100%, 34%);
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  background: hsl(333deg, 100%, 52%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

nav a {
  color: white;
  text-decoration: none;
}

a {
  color: rgb(0, 190, 255);
}
