* {
  font-family: "Lato", sans-serif;
}

.accordion-button {
  background: #38b3d0;
  color: white;
}

h1, .container, #projects {
  z-index: 2;
}

body {
  background: #fff7ec;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background: #fff7ec;
}

.light-bg {
  /* background: #fff7ec; */
  background: #fbc7c3;
}

header img.bg {
  z-index: -1;
}

.pushable {
  background: #277c8f;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  background: #38b3d0;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
}

.text-primary {
  color: #277c8f !important;
}

.border-primary {
  border-color: #38b3d0 !important;
}

.text-pink-color {
  color: hsl(333deg, 100%, 52%);
}

footer {
  background: #fbc7c3;
  /* top: 15em; */
}

.accordion-body {
  background: #fff7ec;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  position: relative;
  /* width: 90vw; */
  /* padding: 1rem; */

  top: 6em;
}

.project-container .kard {
  position: relative;
  max-width: 18.75rem;
  height: 15rem;
  margin: 2rem 0.75rem;
  padding: 1.25rem 1rem;
  background: #fff;
  background: #38b3d0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 300ms ease-in-out;
}

.projet-container .kard:hover {
  height: 28rem;
}

.project-container .kard:hover .content {
  margin-top: -3.125rem;
  visibility: visible;
  opacity: 1;
  transition-delay: 100ms;
}

.project-container .kard .imgBx {
  position: relative;
  top: -4rem;
  z-index: 1;
  width: 16.25rem;
  height: 16.25rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.project-container .kard .imgBx img {
  max-width: 100%;
  border-radius: 0.25rem;
}

.project-container .kard .content {
  position: relative;
  /* margin-top: -8rem; */
  /* padding: 0.75rem 1rem; */
  margin: -8rem -1rem auto;
  padding: 1rem;
  text-align: center;
  color: white;
  background: #38b3d0;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
}

main::before, main::after {
  box-sizing: border-box;
  content: "";
  width: 50vmax;
  height: 50vmax;
  position: absolute;
  background: rgba(255,255,255,0.3);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}

main::after {
  width: 45vmin;
  height: 45vmin;
  left: auto;
  right: 20vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite;
  transform-origin: 40% 40%;
}

#profile-pic {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  100% {
      transform: rotate(1turn);
  }
}