* {
  font-family: "Lato", sans-serif;
}

.accordion-button {
  background: rgba(255, 255, 255, 0.09);
  color: white;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background: rgba(255, 255, 255, 0.09);
}

body {
  background: rgb(28, 39, 47);
  background: linear-gradient(
    180deg,
    rgba(28, 39, 47, 1) 0%,
    rgba(14, 20, 27, 1) 40%
  );
  color: white;
}

.accordion-item {
  background: #0e141b;
  color: white;
}

.off-white-color {
  color: rgba(255, 255, 255, 0.5);
}

.pushable {
  background: hsl(328deg, 100%, 34%);
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  background: hsl(333deg, 100%, 52%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

a {
  color: rgb(0, 190, 255) !important;
  text-decoration: none;
}

.text-primary {
  color: rgb(0, 190, 255) !important;
}

.border-primary {
  border-color: rgb(0, 190, 255) !important;
}

.text-pink-color {
  color: hsl(333deg, 100%, 52%);
}
