* {
    padding: 0;
    margin: 0;
}

body {
    background: #efefef;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.intro {
    display: flex;
    height: 100vh;
    background-color: transparent;
}

.main-title {
    width: 60%;
}

h1,
.main-title h1 {
    font-size: 3.2em;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -2px;
    font-weight: 800;
    color: #151515;
}

.main-title h1 {
    margin: 5em 0 0 2.15em;
    line-height: 1.1;
}

h1 span {
    color: #ffd500;
    text-shadow: 0px 1px rgba(0, 0, 0, .4);
}

.skills {
    font-size: .8em;
    margin: .5em 0 2em 8.8em;
}

.skills a {
    text-decoration: none;
    color: #999999;
    border-right: 1px solid #999999;
    padding: 0 .5em
}

.skills a.no-pad {
    padding-left: 0;
}

.skills a.no-border {
    border: none;
}

.skills a:hover {
    text-decoration: underline;
    color: #000000;
}

.button {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    background: #ffd500;
    padding: .8em 1.3em;
    border: 1px solid black;
    color: black;
    margin: 1.5em 0 0 7em;
    cursor: pointer;
}

.button i {
    margin-left: 1em;
}

.social {
    margin: 1.5em 0 0 7em;
}

.social a {
    margin-right: 1em;
    color: #999999;
    font-size: 1em;
}

.main-img {
    width: 40%;
}

.main-img img {
    width: 100%;
    height: 100vh;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.top {
    padding: 2em;
}

.project-list {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-list div {
    background: #d3d3d3;
    width: 31.5%;
    height: 180px;
    margin-bottom: 1.5em;
}

.summary {
    margin-top: 1em;
}