* {
    padding: 0;
    margin: 0;
}

header {
  margin: 15px 0
}

nav ul {
  list-style: none;
}

nav li {
  margin-left: 50px;
}

nav a {
  color: #2c2851;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #2c2851;
  background-image: linear-gradient(to bottom right, #cf6fd8 , #f7ac8b);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
}

.logo a {
  position: absolute;
  right: 10px;
  top: 12px;
}

.introduction {
  margin: 150px 0 0 70px;
}

.name {
  font-size: 1.7em;
  font-family: 'Pacifico', cursive;
}

.font-size-m {
  font-size: 1.1em;
  line-height: 2;
}

.sum {
  color: #797696;
  font-size: 1em;
  line-height: 1.9;
}

.profiile {
  position: relative;
  text-align: center;
  height: 270px;
  margin: 4em 3em 0 3em;
}

.profiile img {
  width: 350px;
  height: 448px;
  position: relative;
  top: 50px;
  border-radius: 1%;
  border: none;
}

.clipped-title1 {
  color: #2c2851;
}

.clipped-title1 h1 {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

body {
    background-image: linear-gradient(to bottom, #fff5f6 , #fbfbfb);
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #2c2851;
}

h1 {
    font-size: 4.5em;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    line-height: 0.9;
}

.button {
  position: relative;
  bottom: 0px;
  left: 0;
  top: 1em;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  background: #884bff;
  color: white;
  padding: 1.2em 2em;
  border: none;
  cursor: pointer;
}

.button i {
    margin-left: 1em;
}

.section-header {
  margin: 8em 0 4em 0;
}

.section-header h1 {
  color: #2c2851;
}

.line {
  border-top: 3px solid #2c2851;
  width: 30px;
  position: relative;
  top: 10px;
  margin-right: 20px;
}

.social a {
  color: #2c2851;
  margin-left: 1.2em;
  font-size: 1.2em;
}

.connect {
  width: 70%;
  margin: 0 auto 7em;
}

.connect input,
.connect textarea {
  margin: 1em 0 1.5em 0;
  border: 1px solid rgba(0, 0, 0, .05);
  height: 70px;
  background: #fff;
}

.text-purple {
  color: #884bff;
}

.btn-purple {
  color: white;
  background: #884bff;
}

.connect textarea {
  margin: 0;
  height: 100px;
}

.connect button {
  height: 100px;
  background: #884bff;
  border: none;
  text-transform: uppercase;
}

.email {
  font-size: 1.7em;
  color: #884bff;
  font-weight: bold;
}

.email i {
  margin-left: 1em;
  font-size: .8em;
}

.project-image {
  background: grey;
  height: 300px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.image-holder {
  color: #884bff;
}

.image-holder-2 {
  height: 300px;
  overflow: hidden;
}

.image-holder-2 img {
  width: 100%;
  height: 100%;
}

h3 {
    font-weight: 900;
    margin-top: .5em;
    font-size: 1.3em;
}

h3 a {
  color: #2c2851;
}

.project-link a {
  color: #2c2851;
  text-decoration: underline;
}

.what-i-do {
  width: 85%;
  margin: 0 auto;
}

.post .button {
  right: 0;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

@media only screen and (max-width: 1199px) {
  .introduction {
    margin-left: 0
  }
}

@media only screen and (max-width: 991px) {
  .introduction {
    margin-top: 100px;
  }

  .introduction h1 {
    font-size: 3.5em;
  }

  .profiile {
    height: 400px;
  }

  .profiile img {
    width: 100%;
    top: 20px;
    height: 379px;
  }

  .what-i-do {
    width: 100%;
  }

  .section-header h1 {
    font-size: 3.5em;
  }

  .image-holder {
    height: 180px;
  }

  .project-image {
    height: 220px;
  }

  .connect {
    width: 90%;
    margin: 0 auto 7em;
  }

  #footer-links {
    opacity: 0;
  }
}

@media only screen and (max-width: 767px) {
  #profile-image-holder {
    display: none;
  }

  .project-image {
    height: 300px;
  }

  .connect input {
    margin-top: 0;
  }

  .connect button {
    margin-top: 1.5em;
  }

  #disapper {
    opacity: 0;
  }

  #course-title {
    font-size: 2.5em !important;
  }

  #padded {
    padding-left: 1.5em;
  }
}

@media only screen and (max-width: 500px) {
  .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .image-holder {
    height: 250px;
  }

  h3 {
    margin-bottom: 1em;
  }

  .section-header {
    margin: 90px 0 60px 0;
  }
}

@media only screen and (max-width: 390px) {
  .section-header h1 {
    font-size: 2.5em;
  }
}
