* {
    padding: 0;
    margin: 0;
}

body {
    background: #efefef;
}

.intro {
    display: flex;
    height: 100vh;
    background-color: transparent;
}

.main-title {
    width: 60%;
}

.main-title h1 {
    font-size: 3.2em;
    margin: 5em 0 0 2.15em;
    font-family: Metropolis;
    letter-spacing: -2px;
    line-height: 1.1;
    color: #151515;
}

.skills {
    font-size: .8em;
    color: #999999;
    font-family: Metropolis;
    margin: .5em 0 2em 8.8em;
}

.button {
    text-decoration: none;
    font-size: 1em;
    font-family: Metropolis;
    background: transparent;
    padding: .8em 1.3em;
    border: 2px solid black;
    color: black;
    margin: 1.5em 0 0 7em;
    cursor: pointer;
}

.social {
    margin: 1.5em 0 0 7em;
}

.social a {
    margin-right: 1em;
    color: #999999;
    font-size: 1em;
}

.main-img {
    width: 40%;
}

.main-img img {
    width: 100%;
    height: 100vh;
}